{{extend 'layout.html'}}


{{if 'title' in globals():}}
<h1 align="center">{{=title}}</h1>
{{pass}}

{{if 'image_data' in globals():}}
{{if image_data:}}
<div align="center" style="margin: 0 auto 5px auto;">
    <img src="data:image/png;base64,{{=image_data}}" height="800px"/>
</div>
<div align="center" style="margin: 50;">
</div>
{{pass}}
{{pass}}

<div style="background-color:white; margin: 0 auto 5px auto; box-shadow: 0 0 5px #a1a1a1; border-width: 10px; border-radius:5px;padding: 20px">
    <div>{{=grid}}</div>
</div>

