{{extend 'layout.html'}}

{{if 'title' in globals():}}
<h1 align="center">{{=title}}</h1>
{{pass}}


<div class="col-lg-4"
     style="background-color:white; margin: 0 auto 5px auto; box-shadow: 0 0 5px #a1a1a1; border-width: 10px; border-radius:5px;padding: 20px">
    <div>
        <div class="form_header row_buttons">
            <a class="button btn btn-default btn-secondary"
               href="{{=URL(c='svn', f='show_users', user_signature=True)}}">
                <span class="icon arrowleft icon-arrow-left glyphicon glyphicon-arrow-left"></span>
                <span class="buttontext button" title="{{=T('Back')}}">{{=T('Back')}}</span>
            </a>
        </div>
        <hr>
        <form enctype="multipart/form-data" action="{{=action}}" method="post">
            <div class="form-group row">
                <label class="form-control-label col-sm-3">{{=T('Name')}}</label>
                <div class="col-sm-9">
                    {{if 'user_name' in globals():}}
                    <input class="form-control" name="name"
                           value="{{=user_name}}" readonly="readonly"/>
                    {{else:}}
                    <input class="form-control" name="name"/>
                    {{pass}}
                    <span class="help-block"></span>
                </div>
            </div>
            <div class="form-group row">
                <label class="form-control-label col-sm-3">{{=T('Password')}}</label>
                <div class="col-sm-9">
                    <input class="form-control" name="password"/>
                    <span class="help-block"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-3">
                    <input class="btn btn-primary" type="submit"/>
                </div>
            </div>
        </form>
    </div>
</div>