{{extend 'layout.html'}}

{{if 'title' in globals():}}
<h1 align="center">{{=title}}</h1>
{{pass}}

<div style="background-color:white; margin: 0 auto 5px auto; box-shadow: 0 0 5px #a1a1a1; border-width: 10px; border-radius:5px;padding: 20px">
    <div class="container-fluid main-container">
        <div class="web2py_grid">
            {{if 'children' in globals():}}
            <div class="web2py_console">
                <a class="dir"
                   href="{{=URL(c='svn', f='show_repositories', user_signature=True)}}">
                    {{=T('SVN Repositories')}}
                </a>
                :
                <a class="dir"
                   href="{{=URL(c='svn', f='show_path', args=[repo, svn_encode('/')], user_signature=True)}}">
                    {{=repo}}
                    {{security = svn_repo_get_security(repo, '/')}}
                    {{if security:}}
                    <img src="{{=URL('static','images/permission.png')}}"
                         title="{{=security}}">
                    {{pass}}
                </a>

                {{dirs = path.split('/')}}
                {{dirs.remove('')}}
                {{if dirs:}}
                {{ p = ''}}
                {{ for i in range(len(dirs) - 1):}}
                {{ p = p + '/' + dirs[i]}}
                /
                <a class="dir"
                   href="{{=URL(c='svn', f='show_path', args=[repo, svn_encode(p)], user_signature=True)}}">
                    {{=dirs[i]}}
                    {{security = svn_repo_get_security(repo, p)}}
                    {{if security:}}
                    <img src="{{=URL('static','images/permission.png')}}"
                         title="{{=security}}">
                    {{pass}}
                </a>
                {{ pass}}
                /
                {{ =dirs[-1]}}
                {{pass}}
                {{security = svn_repo_get_security(repo, path)}}
                {{if security and path!='/':}}
                <img src="{{=URL('static','images/permission.png')}}"
                     title="{{=security}}">
                {{pass}}
            </div>
            <hr>
            <div class="web2py_table">
                <div class="web2py_htmltable"
                     style="width:100%;overflow-x:auto;-ms-overflow-x:scroll">
                    <table>
                        <tbody>
                        <tr class="w2p_odd odd">
                            <td width="100%">
                                <img src="{{=URL('static','images/dir.png')}}">
                                {{if path != '/':}}
                                <a href="{{=URL(c='svn', f='show_path', args=[repo, svn_encode(svn_parent_path(path))], user_signature=True)}}">
                                    {{=T('Parent Directory')}}
                                </a>
                                {{else:}}
                                <a href="{{=URL(c='svn', f='show_repositories', user_signature=True)}}">
                                    {{=T('Parent Directory')}}
                                </a>
                                {{pass}}
                            </td>
                            <td></td>
                        </tr>

                        {{for r, child in enumerate(children):}}
                        {{if r % 2 == 1:}}
                        <tr class="w2p_odd odd with_id">
                            {{else:}}
                        <tr class="w2p_even even with_id">
                            {{pass}}
                            <td width="100%">
                                {{if child.Kind==1:}}
                                <img src="{{=URL('static','images/dir.png')}}">
                                <a href="{{=URL(c='svn', f='show_path', args=[repo, svn_encode(child.Path)], user_signature=True)}}">
                                    {{=child.Name}}
                                </a>
                                {{else:}}
                                <img src="{{=URL('static','images/file.png')}}">
                                {{=child.Name}}
                                {{pass}}
                            </td>
                            <td class="row_buttons" nowrap="nowrap">
                                <a class="button btn btn-default btn-secondary"
                                   href="{{=URL(c='svn', f='show_security', args=[repo, svn_encode(child.Path)], user_signature=True)}}">
                                    {{=T('Security')}}
                                </a>
                            </td>
                        </tr>
                        {{pass}}
                        </tbody>
                    </table>
                </div>
            </div>
            {{pass}}
        </div>
    </div>
</div>
