{{extend 'layout.html'}}

{{if 'title' in globals():}}
<h1 align="center">{{=title}}</h1>
{{pass}}

{{if 'security' in globals():}}
<div class="col-lg-6"
     style="background-color:white; margin: 0 auto 5px auto; box-shadow: 0 0 5px #a1a1a1; border-width: 10px; border-radius:5px;padding: 20px">
    <div class="container-fluid main-container">
        <div class="web2py_grid">
            <div class="web2py_console">
                <a class="button btn btn-default btn-secondary"
                   href="{{=URL(c='svn', f='add_permission', args=[repo, svn_encode(path)], user_signature=True)}}">
                    <span class="icon plus icon-plus glyphicon glyphicon-plus"></span>
                    <span class="buttontext button"
                          title="{{=T('Add Permission')}}">{{=T('Add')}}</span>
                </a>
                {{if path!='/':}}
                <a class="button btn btn-default btn-secondary"
                   href="{{=URL(c='svn', f='show_path', args=[repo, svn_encode(svn_parent_path(path))], user_signature=True)}}">
                    <span class="icon arrowleft icon-arrow-left glyphicon glyphicon-arrow-left"></span>
                    <span class="buttontext button" title="{{=T('Back')}}">{{=T('Back')}}</span>
                </a>
                {{else:}}
                <a class="button btn btn-default btn-secondary"
                   href="{{=URL(c='svn', f='show_repositories', user_signature=True)}}">
                    <span class="icon arrowleft icon-arrow-left glyphicon glyphicon-arrow-left"></span>
                    <span class="buttontext button" title="{{=T('Back')}}">{{=T('Back')}}</span>
                </a>
                {{pass}}
                <hr>
                <a class="dir"
                   href="{{=URL(c='svn', f='show_repositories', user_signature=True)}}">
                    {{=T('SVN Repositories')}}
                </a>
                :
                <a class="dir"
                   href="{{=URL(c='svn', f='show_path', args=[repo, svn_encode('/')], user_signature=True)}}">
                    {{=repo}}
                    {{s = svn_repo_get_security(repo, '/')}}
                    {{if s:}}
                    <img src="{{=URL('static','images/permission.png')}}"
                         title="{{=s}}">
                    {{pass}}
                </a>

                {{dirs = path.split('/')}}
                {{dirs.remove('')}}
                {{if dirs:}}
                {{ p = ''}}
                {{ for i in range(len(dirs) - 1):}}
                {{ p = p + '/' + dirs[i]}}
                /
                <a class="dir"
                   href="{{=URL(c='svn', f='show_path', args=[repo, svn_encode(p)], user_signature=True)}}">
                    {{=dirs[i]}}
                    {{s = svn_repo_get_security(repo, p)}}
                    {{if s:}}
                    <img src="{{=URL('static','images/permission.png')}}"
                         title="{{=s}}">
                    {{pass}}
                </a>
                {{ pass}}
                /
                {{ =dirs[-1]}}
                {{pass}}
                {{s = svn_repo_get_security(repo, path)}}
                {{if s and path!='/':}}
                <img src="{{=URL('static','images/permission.png')}}"
                     title="{{=s}}">
                {{pass}}
            </div>
            <hr>
            <div class="web2py_table">
                <div class="web2py_htmltable"
                     style="width:100%;overflow-x:auto;-ms-overflow-x:scroll">
                    <table>
                        <thead>
                        <tr class="">
                            <th class="">{{=T('User/Group')}}</th>
                            <th class="">{{=T('Permission')}}</th>
                            <th class=""></th>
                        </tr>
                        </thead>
                        <tbody>
                        {{for r, permission in enumerate(security):}}
                        {{if r % 2 == 0:}}
                        <tr class="w2p_odd odd with_id">
                            {{else:}}
                        <tr class="w2p_even even with_id">
                            {{pass}}
                            <td>
                                {{=permission[0]}}
                            </td>
                            <td>
                                {{=(T("No Access"),
                                T("Read Only"),
                                T("Read/Write")
                                )[permission[1]]}}
                            </td>
                            <td class="row_buttons" nowrap="nowrap" width="20%">
                                <a class="button btn btn-default btn-secondary"
                                   href="{{=URL(c='svn', f='edit_permission', args=[repo, svn_encode(path), permission[0], permission[1]], user_signature=True)}}">
                                    {{=T('Edit')}}
                                </a>
                                <a class="button btn btn-default btn-secondary"
                                   data-w2p_confirm="default"
                                   data-w2p_disable_with="default"
                                   data-w2p_method="POST" data-w2p_remove="tr"
                                   href="{{=URL(c='svn', f='delete_permission', args=[repo, svn_encode(path), permission[0], permission[1]], user_signature=True)}}">
                                    {{=T('Delete')}}
                                </a>
                            </td>
                        </tr>
                        {{pass}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{{pass}}